html,body{
    background-color: #000000;
    font-family: sans-serif;
    font-weight: 300;
    font-style: inherit;
}


#mynavbar{
	background-color: silver;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0px;
	border-bottom-style: none;
	height: 110px;
}
#mynavbar .navbar-nav > li > a {
  font-size: 18px;
  color: #000000;
}
#mynavbar .navbar-nav > li > a:hover {
  border-bottom-style: solid;
  background-color: none;
  border-bottom-color: #000000;
  color: #C80000;
}
#mynavbar .navbar-brand{
	color:#FFF;
}
/*.body{*/
 /*background-color: black;*/
/*}*/
.dropdown-menu{
background-color: silver;
}
.dropdown-menu> li > a:hover {
   background-color: silver;
   color: #C80000;
}
.dropdown-menu > li > a {
  font-size: 18px;
  color: #000000;
  border-bottom: 1px solid white;
}
#legal{
	background: url('../images/1.jpg');
	background-size: cover;

}

.legaloptions{
	padding-top: 22%;
	padding-bottom: 22%;
	text-align: center;
	color:#fff;
}

#proceed{
	margin-top: 10px;
	padding : 15px 15px;
	background-color: transparent;
	color: #FFF;
	border-color:#FFF;
	border-radius: 0px;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
}
#proceed:hover{
	-moz-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-o-transform:scale(1.2);
	background-color: #FFF;
	color:#303F9F;
	border-color: #303F9F;
}

.select{
	text-align: center;
	
	text-align: center;
	color:#fff;
}

#resturant{
	background:url('../images/resturant.jpg');
	background-size: cover;
	padding-top: 22%;
	padding-bottom: 23%;
}
#club{
	background:url('../images/club.jpg');
	background-size: cover;
	padding-top: 22%;
	padding-bottom: 23%;

}

#mydivider{
	width:30%;
}



#resturantheader{
	background: url('../images/resturant.jpg') center center no-repeat;
	background-size: cover;
	height: 600px;

}

#nightheader{
	/* background: url('../images/club.jpg') center center no-repeat; */
	height: 500px;

}
#nightslider{
	
	height: 400px;
    padding-top: 9%;

}

#nightslider ol{
    margin-top: 100%;
}

#logo{
    background: url('../images/natives_logo2.png') center center no-repeat;
    background-size: cover;
    background-color: #060200;
    width: 20%;
    height: 20%;
}

#slider-container{
    height: 40%;
    margin-left: 1.5%;
    width: 50%;
    margin-top: 3%;
    background-repeat:no-repeat;
    background-origin:border-box;
}
.item{
	height: 400px;
	text-align: center;
    background-size: cover;
}
.item img{
	padding-left: auto;
	padding-right: auto;
    width:100%;
	height:100%;
    background-size: cover;
}
.carousel-caption h1{
	font-size: 100px;
	font-weight: 200;

}

#nav{
	margin-top: 200%;
}
#upcoming{
	color:#FFF;
	padding-top: 10%;
	padding-bottom: 10%;
}
#upcoming h2{
	text-align: center;
}

#upcomingthumb{
	height:300px;
	border-style: none;
	transition:0.5s;
}

#upcomingthumb:hover{
	transform:scale(1.2);
}


#upcomingthumb img{
	width:100%;
}
#captioncontent{
	margin-top: 60%;
	margin-left: 30%;
	color:#FFF;

}

#viewue{
	
	
	background-color: #FFF;
	color:#303F9F;
	border-radius: 0px;
	padding: 10px 10px;
}
#news{
	background-color: #FFF;
	padding-top: 5%;
	padding-bottom: 5%;
}

#news_{
    background-color: none;
    padding-top: 5%;
    padding-bottom: 5%;
	height: 200px;
	margin-top: 0.6%;
}

#single_event{
    background-color: inherit;
    margin-top: 8.8%;
    width: 75%;
    height: 495px;

}

#single_event p{
    color: #ddffdd;
    font-size: medium;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-weight: 400;
    background-color: transparent;
}

#event_attributes{
    color: #ffffff;
    height: 100%;
    border-bottom: double;
    border-left: double;
    border-right: double;
    border-top: double;
    border-spacing: 2%;
    margin-left: -2%;
    border-radius: 5px;
    border-color: #327E04;
}

#event_title{
    text-decoration: wavy;
    color: #ffffff;
    transform: rotate3d(0,0,0,30deg);
}

#club_nav li{
    font-family: sans-serif;
    font-weight: 300;
    font-style: inherit;
    /*font-family: "tahoma aerial";*/
    /*font-style: oblique;*/
}

#facebook_landing{
    margin-left: 55%;
    margin-top: -27.5%;
    color: #ffffff;
    background-color: inherit;
    width: 40%;
    height: 200px;
    border-radius: 15px;
    border: 2px solid #8AC007;
}

#twiter_landing{
    color: #ffffff;
    margin-left: 55%;
    margin-top: 2%;
    background-color: inherit;
    width: 40%;
    height: 200px;
    border-radius: 15px;
    border: 2px solid #8AC007;
}
